services:
  postgres:
    image: postgres:16
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: skills_dev
      POSTGRES_PASSWORD: skills_dev
      POSTGRES_DB: skills_trainer
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
